@font-face {
    font-family: "Norse Bold";
    src: url("assets/Norse-Bold.otf") format("opentype");
}

:root {
    font-size: 16px;
    line-height: 1.5;
    background-color: #f9fafb;
}

body {
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
}

h1, h2, h3, h4, h5, figure, p, ol, ul {
    margin: 0;
}

ol[role="list"], ul[role="list"] {
    list-style: none;
    padding-inline: 0;
}

h1, h2, h3, h4, h5 {
    font-size: inherit;
    font-weight: inherit;
}

img {
    display: block;
    max-inline-size: 100%;
}

.cover {
    height: 100%;
    width: 600px;
    padding: 10px 0;
    background-image: url(./assets/Green\ Leaf\ Plant\ Photo.jpg);
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: #fff;
}

.cover-label {
    margin-top: 195px;
    padding: 10px 0;
    background-color: #00000088;
}

.lockup {
    display: flex;
    justify-content: center;
    align-items: center;
}

.lockup h1 {
    font-size: 5.61rem;
    line-height: 5.61rem;
    font-family: "Norse Bold";
}

.lockup img {
    height: 6rem;
}

.cover-footer {
    display: flex;
    justify-content: center;
    font-size: 0.75rem;
    opacity: .75;
}

.cover-footer a {
    color: inherit;
}

.cover-footer a:hover {
    color: #d1d1d1;
    text-decoration: none;
}

.container {
    width: 100%;
}

.copy {
    max-width: 52ch;
    padding: 0 0 0 40px;
    margin-bottom: 60px;
    font-weight: bold;
}

.copy p:first-child {
    margin-bottom: 20px;
}

.responses {
    background-color: #fff;
    padding: 20px 0 40px 40px;
    -webkit-box-shadow: 0px 5px 5px 0px #E5E7EB;
    -moz-box-shadow: 0px 5px 5px 0px #E5E7EB;
    box-shadow: 0px 5px 5px 0px #E5E7EB;
}

.responses p {
    font-size: 1.333rem;
}

.input-row {
    display: flex;
    gap: 60px;
    margin-top: 20px;
}

.input-group {
    display: flex;
    flex-direction: column;
}

input {
    padding: 5px;
    width: 300px;
    border: 1px solid #E5E7EB;
    border-radius: 5px;
}

input:focus {
    border-color: blue;
    -webkit-box-shadow: 2.5px 2.5px 5px 0px #E5E7EB;
    -moz-box-shadow: 2.5px 2.5px 5px 0px #E5E7EB;
    box-shadow: 2.5px 2.5px 5px 0px #E5E7EB;
}

input[type="password"]:invalid {
    border-color: red;
}


label {
    font-size: 0.75rem;
}

button {
    margin: 40px 0 20px 40px;
    padding: 10px 30px;
    color: #fff;
    background-color: #596D48;
    border: none;
    border-radius: 5px;
    -webkit-box-shadow: 0px 5px 5px 0px #E5E7EB;
    -moz-box-shadow: 0px 5px 5px 0px #E5E7EB;
    box-shadow: 0px 5px 5px 0px #E5E7EB;
}

button:hover {
    background-color: #869a6f;
    cursor: pointer;
}

.login {
    margin-left: 40px;
}

.login a {
    color: #596D48;
    text-decoration: none;
}

.login a:hover {
    color: #869a6f;
    text-decoration: underline;
}